.slider-content {
  background-color: #000000b8;
}

a {
  text-decoration: none;
  color: #fff;
  opacity: 0.5;
  font-size: 20px;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

.card {
  padding: 10px;
  margin: 10px;
  /* box-shadow: */
}
