/* .carousel-inner .item.active {
  justify-content: center;
} */

/* .carousel-item.active,
.carousel-item-next,
.carousel-item-prev {
  display: block;
  justify-content: center;
  align-items: center;
} */

.carousel-item .col-md-12 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.slide-flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.prices {
  opacity: 0.6;
  font-weight: normal;
  margin-right: 0.3em;
  font-size: 2.2em;
}

.prices .amount {
  color: #f9a825;
  padding-right: 0.3em;
}
